@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (produits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Nom</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produit in produits)
            {
                <tr>
                    <td>@produit.Marque</td>
                    <td>@produit.Nom</td>
                    <td>@produit.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Produit[]? produits;

    protected override async Task OnInitializedAsync()
    {
        var request = await Http.GetAsync("http://localhost:5295/api/Produits");
    }

    public class Produit
    {
        public int Id { get; set; }
        public string? Nom { get; set; }
        public string? Type { get; set; }
        public string? Marque { get; set; }
    }
}
