@page "/fetchdata"
@using System.Text.Json;
@using R508_TP03_Blazor.Services;
@using R508_TP03_Blazor.Models;

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (produits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Marque</th>
                <th>Nom</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produit in produits)
            {
                <tr>
                    <td>@produit.Marque</td>
                    <td>@produit.Nom</td>
                    <td>@produit.Type</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ProduitDto> produits = new List<ProduitDto>();

    private WSService service = new WSService("https://localhost:7175/api/");

    protected override async Task OnInitializedAsync()
    {
        produits = await service.GetProduitsAsync("Produits");
    }
}
